<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
<meta name="robots" content="noindex, nofollow">
<meta name="googlebot" content="noindex, nofollow">
<meta name="baiduspider" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Console - {{ brand|default("Web console",true)|capitalize }}</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="assets/css/styles.min.css">
    <link rel="stylesheet" href="https://unpkg.com/xterm@5.2.1/css/xterm.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md fixed-top navbar-shrink py-3" id="mainNav">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span id="brand-text">{{ brand|default("Web console",true)|capitalize }}</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto"></ul><a class="btn btn-primary shadow" role="button" href="/console">Dashboard</a>
            </div>
        </div>
    </nav>
    <section class="py-5 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 mx-auto">
                    <div class="d-inline-flex reccircle bg-light my-2 px-3 align-items-center">
                        <div id="status-icon" class="small-dot" style="border-radius: 50%;"></div>
                        <div class="text-center">
                            <p class="fw-semibold my-0 ms-2" id="status-msg">Program Connecting</p>
                        </div>
                    </div>
                    <div></div>
                    <div class="card" style="border-radius: 5px;height: 65vh;">
                        <div class="card-body">
                            <div id="terminal" class="h-100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="text-center py-4">
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-3">
                <div class="col">
                    <p class="text-muted my-2">Copyright © 2023 {{ brand|capitalize }}</p>
                </div>
                <div class="col">
                    <ul class="list-inline my-2">
                        {% for icon in icons %}
                        <li class="list-inline-item me-4">
                            <a href="{{ icon.url }}" target="_blank" rel="noopener noreferrer">
                                <div class="bs-icon-circle bs-icon-primary bs-icon">
                                    <i class="{{ icon.icon }}"></i>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col">
                    <ul class="list-inline my-2">
                        {% for link in links %}
                        <li class="list-inline-item"><a class="link-primary" href="{{ link.url }}">{{ link.label }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/xterm@5.2.1/lib/xterm.js"></script>
    <script src="https://unpkg.com/xterm-addon-fit@0.7.0/lib/xterm-addon-fit.js"></script>
    <script src="https://unpkg.com/xterm-addon-search@0.12.0/lib/xterm-addon-search.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.2/socket.io.min.js"></script>
    <script src="assets/js/script.min.js"></script>
    <script src="assets/js/console.min.js"></script>
</body>

</html>
